/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.todo{
    padding:0;
    margin:0;
}
@media (max-width: 1000px){
    .img1{
        background:url('../img/foto1-small.jpg') center top;
        height: 570px;
    }
    .img2{
        background:url('../img/foto2-small.jpg') center top;
        height: 570px;
    }
    .img3{
        background:url('../img/foto3-small.jpg') center top;
        height: 570px;
    }
    .left{
        float: left;
        width: 100%;
        background-color: #1ea1af;
        height: 150px;
        text-align: center;
    }
    .border-left{
        display: none;
    }
    .right{
        float: left;
        width: 100%;
        background-color:#484848;
        height: 200px;
        text-align: center;
        color: #fff;
    }
     .left img{
        text-align: center;
        margin-top: 30px;
    }
    .compartir{
        height: 300px;
        text-align: center;
    }
    .convierte{
        height: 300px;
        text-align: center;
    }
    .inspirate{
        height: 300px;
        text-align: center;
    }
    .registrate{
        height: 300px;
        text-align: center;
    }
}
@media(min-width:1001px){
    .img1{
        background:url('../img/foto1.jpg') center top;
        height: 1000px;
    }
    .img2{
        background:url('../img/foto2.jpg') center top;
        height: 1000px;
    }
    .img3{
        background:url('../img/foto3.jpg') center top;
        height: 1000px;
    }
    .left{
        float: left;
        width: 34.5%;
        background-color: #1ea1af;
        height: 150px;
    }
    .border-left{
        float: left;
        height: 150px;
        width:0.5%;
        background-color:#10727b;
    }
    .right{
        float: left;
        width: 65%;
        background-color:#484848;
        height: 150px;
        text-align: center;
        color: #fff;
    }
    .left img{
        float: right;
        margin: 20px;
    }
    .compartir{
        background: url('../img/info_compartir.png') no-repeat center;
        height: 670px;
        text-align: right;
    }
    .convierte{
        background: url('../img/info_convierte.png') no-repeat center;
        height: 670px;
        text-align: right;
    }
    .inspirate{
        background: url('../img/info_inspirate.png') no-repeat center;
        height: 670px;
        text-align: right;
    }
    .registrate{
        background: url('../img/info_registrate.png') no-repeat center;
        height: 670px;
        text-align: right;
    }
}
header{
    height: 1000px;
    width: 100%;
}
.infoRotador{
    position: absolute;
    background: url("../img/info_cabezote.png") no-repeat right;
    height: 1000px;
    width: 1000px;
    z-index: 10;
    margin: auto;
}
.infoRotador ul{
    position: absolute; 
    list-style: none;
    width: 500px;
}
.infoRotador li{
    display: inline-block;
}
.apple{
    background: url('../img/app_store.png') no-repeat;
    background-size: cover;
    width:227px;
    height:78px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.google{
    background: url('../img/google_play.png') no-repeat;
    background-size: cover;
    width:235px;
    height:78px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.tituloQuiero{
    background: url("../img/titulo_quiero.png") no-repeat;
    height: 184px;
    width: 376px;
    position: absolute;
    z-index: 10;
}
.rotadorPrincipal .owl-pagination{
    position: absolute;
    bottom: 20px;
    left: 45%;
}
.rotadorApp{
    padding: 0 10% 0 10%;
    width: 80%;
}

.Terminos{
    text-align: center;
}
.tituloTerminos{
    cursor: pointer;
    text-transform: uppercase;
    background: #1ea1af;
    color:#FFF;
    height: 50px;
    border-bottom: 5px solid #10727b;
}
.tituloTerminos h2{
}
.contenidoTerminos{
    background-color: #f6f6f6;
    display: none;
    text-align: left;
    padding: 0 12% 0 12%;
    height: 100%;
}
.contenidoTerminos h3{
    text-transform: uppercase;
    color: #1ea1af;
}
.contenidoTerminos p{
    color:#949494;
}
/*footer*/
.right p{
    margin: 50px 70px 50px 70px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
